body {
    margin: 0px;
    overflow: hidden;
}

/* =========== BACKGROUND IMAGE SLIDES ======================================= */
.background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: crossfadeBackground 25s infinite; /* Adjust duration as needed */
    background-size: cover;
    z-index: -1;
}
@keyframes crossfadeBackground {
    0%, 100% {
        background-image: url('/static/homepage_slideshow/makersbnb_bg6.jpg');
        opacity: 1;
    }
    25% {
        background-image: url('/static/homepage_slideshow/makersbnb_bg2.jpg');
        opacity: 1;
    }
    50% {
        background-image: url('/static/homepage_slideshow/makersbnb_bg4.jpg');
        opacity: 1;
    }
    75% {
        background-image: url('/static/homepage_slideshow/makersbnb_bg5.jpg');
        opacity: 1;
    }
}

/* =========== HEADER ======================================================= */
.header {
    color: #fff; /* Text color for header */
    padding: 30px 30px; /* Add padding for spacing */
    position: relative;
}

/* CLICKABLE LOGO */
.logo {
    float: left; /* Float the logo to the left */
    margin-left: 5px
}

/* RIGHT HAND SIDE LINKS */
.links {
    position: absolute; /* Set position to absolute */
    right: 35px; /* Distance from the right edge */
    top: 50%; /* Align links to vertical center of header */
    transform: translateY(-30%); /* Adjusts links vertically to be bottom in-line with "makersbnb" */
}

.header .links a {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: white;
    text-decoration: none;
    margin-right: 25px; /* Add right margin to create space between links */
}

.header .links a:last-child {
    margin-right: 0; /* Remove the margin on the last link to avoid extra space */
}

.clear {
    clear: both; /* Clear the float to prevent overlap */
}


/* =========== EVERYTHING BELOW HEADER ================================================= */

/* BODY CONTAINER -- This splits the bottom portion of the page into 2 columns */
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

/* SEARCH BOX ================================================= */
.search-space-box {
    grid-column: 1; /* Indicate that it's on the left column */
    width: 65%; /* Div box is 65% of half of viewpoint width */
    background-color: #fff; 
    border-radius: 5px; /* Rounded corners */
    /* text-align: left; */
    padding: 35px; /* Add padding for spacing -- Why so much space on top of header text?*/
    padding-top: 10px; /* Gets rid of weird top spacing from padding=30px */
    margin: auto; /* Center the search box horizontally and add margin for spacing */
    margin-right: auto;
    margin-top: 30px; /* Space between search box div and header */
}

/* Style for the "Book unique homes and experiences" text */
.search-space-box-header {
    font-family: 'Arial', sans-serif;
    font-size: 40px;
    letter-spacing: 0.9px;
    line-height: 1.2;
    color: #3e3c3c;
    margin-top: 23px;
    margin-bottom: 15px;
}

.search-box-fields {
    display: grid;
    align-items: left;
    margin-right: 25px;
    margin-bottom: 15px;
}

.search-box-fields label {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #3e3c3c;
    line-height: 200%;
}

.search-box-fields input {
    width: 100%;
    padding: 10px; 
    border: 1px solid #ccc;
    border-radius: 3px;
    font-family: 'Arial', sans-serif;
    color:#6a6262;
    font-size: 16px;
}

.search_button {
    background-color: #ff5a5f;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px 25px;
    font-family: 'Arial', sans-serif; /* Change the font to Arial */
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px; /* Add margin to separate the button from the input fields */
    margin-bottom: 3px;
}
