<!DOCTYPE html>
<html>
<head>
    <title>Holiday Homes & Apartment Rentals - Makersbnb</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_home.css') }}">
    <!-- LOGO FOR AIRBNB -->
    <!-- CHANGE THIS TO MAKERSBNB -->
    <link rel="icon" href="{{ url_for('static', filename='logos/airbnb-logo.ico') }}" type="image/x-icon"> 
</head>
<body>
    <!-- BACKGROUND SLIDES -->
    <div class="background-container">
    </div>
    <!-- END BACKGROUND SLIDES -->

    <!-- HEADER - No authentication -->
    <div class="header">
        <div class="logo">
            <a href="/"><img src="{{ url_for('static', filename='logos/makersbnb_full_white.png') }}" alt="Makersbnb Logo" style="width: auto; height: 50px;"></a>
        </div>

        <div class="links">
            <a href="/">Sign Up</a>
            <a href="/login">Login</a>
            <a href="/about">About</a>
        </div>
        <div class="clear"></div> <!-- Clear the float to prevent overlapping -->
    </div>
    <!-- END HEADER - No authentication -->

    <!-- =================== EVERYTHING BELOW HEADER ============================ -->

    <div class="container">

        <!-- SEARCH BOX -->
        <div class="search-box">

    <!-- =================== CHECK EVERYTHING BELOW HERE ============================ -->

            <form class="search_space_form_fields" action="#" method="post"></form>
                <h1 class="search-box-title">Book unique homes and experiences.</h1>
        
                <!-- FORM FIELDS -->
                <div class="search_form_fields">
                    <p><label for="city">WHERE</label></p>
                    <p><input type="text" name="city" id="city"></p>
                    <p><label for="available_from">CHECK IN</label></p>
                    <p><input type="date" name="available_from" id="available_from" min="2023-10-27" max="2024-10-27"></p>
                    <p><label for="available_from">CHECK OUT</label></p>
                    <p><input type="date" name="available_to" id="available_to" min="2023-10-27" max="2024-10-27"></p>
                    <p>
                        <label for="guests">GUESTS</label>
                    </p>
                    <p>
                        <input type="number" name="guests" id="guests" min="1" max="6">
                    </p>
                </div>
        
                <!-- SUBMIT BUTTON -->
                <button type="submit" class="search_button">
                    Search
                </button>
        
        
            </form>
        


        </div>

    </div>


</body>
</html>
